


    <p style="color: red; font-weight: bold;"> {{ errors.unique }}</p>

    <p style="color: red; font-weight: bold;"> {{errors.errors.name.message}}</p>
    <p style="color: red; font-weight: bold;"> {{errors.errors.type.message}}</p>
    <p style="color: red; font-weight: bold;"> {{errors.errors.description.message}}</p>
    <p style="color: red; font-weight: bold;"> {{errors.errors.skillOne.message}}</p>
    <p style="color: red; font-weight: bold;"> {{errors.errors.skillTwo.message}}</p>
    <p style="color: red; font-weight: bold;"> {{errors.errors.skillThree.message}}</p>


<form  (submit) = "onSubmitCreate()" #form="ngForm">
    <div>
        <label for="name">Pet's name:</label>
    </div>
    <input 
        type="text" 
        name="name"
        [(ngModel)]="newPet.name"
        #name="ngModel"
        required
        minlength="3"
    />

    <p><small
        [hidden]="name.valid || form.pristine">
    Your Pet's name should be atleast 3 characters long
    </small>
    </p>

    <div>
        <label for=type>Pet's type:</label>
    </div>
    <input 
    type="text" 
    name="type"
    [(ngModel)]="newPet.type"
    #type="ngModel"
    required
    minlength="3"
    
    />
    <p><small
        [hidden]="type.valid || form.pristine">
    Your Pet's type should be atleast 3 characters long
    </small>
    </p>


    <div>
        <label for="description">Pet's description:</label>
    </div>
    <input 
        type="text" 
        name="description"
        [(ngModel)]="newPet.description"
        #description="ngModel"
        required
        minlength="3"
        
    />
    <p><small
        [hidden]="description.valid || form.pristine">
    Your Pet's description should be atleast 3 characters long
    </small>
    </p>

    
    <h5>Pet's Skills (At least one, up to three):</h5>
    
    <label for="skillOne">Skill 1: </label>
    <input 
        type="text" 
        name="skillOne"
        [(ngModel)]="newPet.skillOne"
        #skillOne="ngModel"
       
       
        
    /><br>

    <label for="skillTwo">Skill 2: </label>
    <input 
        type="text" 
        name="skillTwo"
        [(ngModel)]="newPet.skillTwo"
        #skillTwo="ngModel"
        
    /><br>

    <label for="skillThree">Skill 3: </label>
    <input 
        type="text" 
        name="skillThree"
        [(ngModel)]="newPet.skillThree"
        #skillThree="ngModel"
        
    /><br><br>

    <input [disabled]="!form.valid" type="submit" value="submit">    |   <button [routerLink] = "['/pets']"> Cancel </button>
</form >